//Not specific Component
#specializes-accordion{
    margin-bottom: 60px;
    .panel{
        box-shadow: none;
        .panel-heading{
            position: relative;
            padding-left: 0;
            color: @mw-text-color;
            .panel-title {
                padding-left: 45px;
                font-size: @font-size-h4;
                font-weight: 300;
                a{
                    text-decoration: none;
                }
                .expand-box {
                    .size(23px, 23px);
                    position: absolute;
                    top: 8px;
                    left: 0;
                }
                .collapsed .plus-minus {
                    background: #d7d7d7;
                    .img-retina('@{img-url}plus.png', '@{img-url}plus@2x.png', 13px, auto);
                    .bg-center-no-repeat; //lives in custom Mixins
                }
                .plus-minus{
                    background: #959595;
                    .img-retina('@{img-url}minus.png','@{img-url}minus@2x.png',13px,auto);
                    .bg-center-no-repeat;
                }
            }
        }
        .panel-body{
            padding-left: 45px;
        }
    }
}