#page-title{
    background: @mw-base-2;
    h1{
        font-size: 40px;
        @media(max-width: @screen-sm){
            font-size: 34px;
        }
        @media(max-width: @screen-xxs){
            font-size: 28px;
        }
        margin: 20px 0;
        color: #fff;
    }
}
.breadcrumbs{
    background: tint(@mw-base-2, 70%);
    margin-bottom: 3px;
    .breadcrumb{
        overflow: hidden;
        margin: 0;
        padding: 0 15px;
        background-color: transparent;
        >li+li:before{
            content: "";
            .img-retina('@{img-url}breadcrumb-divider@2x.png', '@{img-url}breadcrumb-divider@2x.png', 15px, auto);
            .bg-center-no-repeat;
            background-position: center;
            padding: 3px 20px;
        }
    }
}