.single-nav {
    background: tint(@mw-base-2, 85%);
    .nav > li {
        &.active {
            >a {
                background: tint(@mw-base-2, 70%);
                border: none
            }
        }
        >a {
            padding: 30px 20px;
            &.accessory{
                padding: 30px 15px;
            }
            @media(max-width: @screen-lg-min){
                display: none;
            }
            margin: 0;
            color: @mw-text-color;
            &:hover {
                background: tint(@mw-base-2, 70%);
            }
        }
    }
    .nav-tabs > li {
        margin-bottom: -2px;
        a {
            border: none;
        }
    }
}