.contact-us-form,
.ra-form,
.rsvp-form{
    .gform_body {
        margin-bottom: 30px;
        .gfield_label {
            .gfield_required {
                color: @text-color;
            }
        }
        .ginput_container {
            input,
            textarea {
                background: @mw-contact-us-input-bg-color;
            }
            .gfield_radio {
                .clearfix();
                > li {
                    .pull-left();
                    width: 50%;
                    @media(max-width: @screen-lg-min){
                        width: 100%;
                    }
                    @media(max-width: @screen-md-min){
                        width: 50%;
                    }
                    label {
                        .pull-right();
                        margin-top: 10px;

                    }
                    input {
                        .pull-right();
                    }
                    input[type='radio'] {
                        -webkit-appearance: none;
                        .square(20px);
                        border-radius: 50%;
                        outline: none;
                        padding-left: 7px;
                        margin: 8px 0 0 10px;
                        &:checked {
                            background: #959595;
                            border: 0;
                        }
                    }
                }
            }
            .gfield_select {
                background: @mw-contact-us-input-bg-color;
            }
        }
    }
}
#ui-datepicker-div{
    background: #fff;
    padding: 10px;
    .border-radius(5px);
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.25);;
}