.gform_heading {
    .gform_title {
        .h4();
        margin-bottom: 0;
    }
}
.gform_wrapper ul {
    .list-unstyled();
}
.gform_wrapper li {
    .form-group();
}
.gform_wrapper form {
    margin-bottom: 0;
}
.gform_wrapper .gfield_required {
    padding-left: 1px;
    color: @state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
    .form-control();
    max-width: 100%;

}
.ginput_container textarea {
    height: auto;
}
.gform_button {
    .btn();
    .btn-default();
}
.gform_wrapper .gfield_error {
    .gfield_label {
        color: @state-danger-text;
    }
    input,
    select,
    textarea {
        border-color: @alert-danger-border;
        background-color: @alert-danger-bg;
        color: @alert-danger-text;
        .form-control-focus(@alert-danger-text);
    }
}
.validation_error {
    .alert();
    .alert-danger();
}
#gforms_confirmation_message {
    .alert();
    .alert-success();
}
.gfield_error{
    .validation_message{
        color: @alert-danger-text;
    }
    input{
        border-color: #ebccd1;
        background-color: #f2dede !important;
    }
}
.gform_confirmation_wrapper{
    .gform_confirmation_message{
        color: #3c763d;
    }
}
.gform_fields{
    margin-top: 10px;
}
.gfield_radio{
    >li{
        input{
            outline: 0;
            box-shadow: none;
            &:focus{
                box-shadow: none;
            }
        }
    }
}