#header-collapse{
    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        font-size: 11px;
    }
}
.navbar-default .navbar-nav {
    .current-menu-parent,
    .current-menu-ancestor{
        &.dropdown {
            &,
            &:hover,
            &:focus {
                background-color: @navbar-default-link-active-bg;
                >a{
                    color: @navbar-default-link-active-color;
                    &,
                    &:hover,
                    &:focus {
                        @media(min-width: @screen-sm-min){
                            background-color: @navbar-default-link-active-bg;
                            color: @navbar-default-link-active-color;
                        }

                    }
                }
            }
        }
    }
}