.navbar-form{
    @media(min-width: @screen-md-min)  {
        float: right;
    }
    .form-group{
        position: relative;
        .search-btn{
            position: absolute;
            top: 7px;
            right: 2px;
            outline: 0;
            border: 0;
            background: none;
            font-size: 18px;
        }
    }
}