//
// Load variables defined by WordPress Customizer API
// --------------------------------------------------

//detail (text, borders)
@mw-contentcolor-1:       #000; //primary text/line color
@mw-contentcolor-2:       #fff; //secondary text/line color


// == FONTS
//
//##

@mw-font-family-heading:       @mw-php-heading-font-family; //Font Family for Headings tags
@mw-font-family-content:       @mw-php-body-font-family; //Font Family for Content
@mw-font-family-sub-headline:  @mw-php-sub-headline-font-family; //Font Family for Sub Headline. Lives in custom-helpers.less
@mw-font-family-btn:           @mw-php-btn-font-family; //Font Family for Buttons

@mw-font-weight-heading:       @mw-php-heading-font-weight;
@mw-font-weight-sub-headline:  @mw-php-sub-headline-font-weight; //Lives in custom-helpers.less
@mw-font-weight-btn:           @mw-php-btn-font-weight;

@mw-font-style-sub-headline:   @mw-php-sub-headline-font-style; //Lives in custom-helpers.less
@mw-font-style-btn:            @mw-php-btn-font-style; //Lives in custom-helpers.less


// == GLOBAL
//
//##

// Global text color
@mw-text-color:           @mw-contentcolor-1; // Content Font Color
@mw-headings-color:       @mw-base-4; // Heading Font Color


@mw-captions-color:       @mw-base-4; // Found in custom-helpers.less


//BUTTONS
@mw-button-bg:            @mw-base-1;
@mw-button-border:        darken(@mw-button-bg, 8%);
@mw-button-text:          @mw-contentcolor-2;

@mw-button-2-bg:          @mw-base-2;
@mw-button-2-border:      darken(@mw-button-2-bg, 8%);
@mw-button-2-text:        @mw-contentcolor-2;




// == HEADER
//
//##
@mw-top-bar-bg:                        tint(@mw-base-2, 40%);
@mw-top-social-media-icons:            @mw-contentcolor-2;
@mw-top-social-media-icons-hover:      @mw-contentcolor-2;


@mw-header-bg:                         @mw-base-3;
@mw-header-text:                       @mw-base-4;
@mw-header-link:                       @mw-base-4;


//== Navbar
//
//##
@mw-navbar-text-color:                 @mw-base-4;
@mw-navbar-bg:                         tint(@mw-base-1, 50%);
@mw-navbar-border:                     @mw-contentcolor-2;

// Navbar links
@mw-navbar-link-color:                 @mw-base-4;
@mw-navbar-link-hover-color:           @mw-base-4;
@mw-navbar-link-hover-bg:              tint(@mw-base-1, 75%);
@mw-navbar-link-active-color:          #fff;
@mw-navbar-link-active-bg:             @mw-base-1;


// Navbar toggle
@mw-navbar-toggle-hover-bg:            @mw-navbar-link-hover-bg;
@mw-navbar-toggle-icon-bar-bg:         #888;
@mw-navbar-toggle-border-color:        none;


//== Dropdowns
//
//## Dropdown menu container and contents.
@mw-dropdown-text-style:             capitalize;

@mw-dropdown-bg:                     @mw-navbar-link-hover-bg;
@mw-dropdown-link-color:             @mw-navbar-text-color;

@mw-dropdown-link-hover-color:       @mw-navbar-text-color;
@mw-dropdown-link-hover-bg:          @mw-navbar-text-color;

@mw-dropdown-link-active-color:      @mw-navbar-text-color;
@mw-dropdown-link-active-bg:         @mw-navbar-bg;



// == INDEX
//
//##

//ICONS
@mw-icon-color:                    @mw-base-2;
@mw-icon-title-color:              @mw-base-2;

@mw-our-practice-bg:               @mw-base-3;

//HEARING AID APP
@mw-hearing-aid-app-bg:            @mw-contentcolor-2;

@mw-timeline-border:               @mw-base-2;

@mw-next-and-prev-bg:              @mw-base-2;
@mw-next-and-prev-arrow:           @mw-contentcolor-2;

//TESTIMONIALS
@mw-testimonials-bg:               @mw-base-3;
@mw-testimonials-img-border:       @mw-base-2;
@mw-testimonials-control-bg:       @mw-base-2;
@mw-testimonials-control-text:     @mw-contentcolor-2;

//Single Location Map
@mw-single-loc-bg:                 @mw-base-2;

//single Hearing Aid page

@mw-feature-icons-color:          @mw-base-2;

// === FOOTER
//
//##
@mw-footer-bg:                         @mw-base-2;
@mw-footer-border:                     none;

@mw-footer-headings:                   @mw-contentcolor-2;
@mw-footer-text:                       @mw-contentcolor-2;
@mw-footer-link:                       @mw-contentcolor-2;
@mw-footer-social-media:               @mw-contentcolor-2;
@mw-footer-social-media-hover:         @mw-contentcolor-2;

//COPYRIGHT BAR
@mw-copyright-bar-bg:                  lighten(@mw-base-2, 17%);
@mw-copyright-bar-text:                @mw-contentcolor-2;
@mw-copyright-bar-link:                @mw-contentcolor-2;
@mw-copyright-bar-link-hover:          @mw-contentcolor-2;

// Forms

@mw-input-bg:      #fff;
@mw-input-border:  @mw-input-bg;


//Screen Size iphone portrait

@screen-xxs:         320px;


// ===== Contact Us Form
//
//##

@mw-contact-us-input-bg-color: #d7d7d7;


// ===== Paginiation
//
//##
@mw-pagination-active-bg: @mw-base-2;
@mw-pagination-hover-bg:  lighten(@mw-pagination-active-bg, 30%);