@media(min-width:@screen-sm){
  .multi-columns-row{ 
    .col-xs-6:nth-child(2n+3){
      clear:none
    }
    .col-xs-4:nth-child(3n+4){
      clear:none
    }
    .col-xs-3:nth-child(4n+5){
      clear:none
    }
    .col-xs-2:nth-child(6n+7){
      clear:none
    }
    .col-xs-1:nth-child(12n+13){
      clear:none
    }
    .col-sm-6:nth-child(2n+3){
      clear:left
    }
    .col-sm-4:nth-child(3n+4){
      clear:left
    }
    .col-sm-3:nth-child(4n+5){
      clear:left
    }
    .col-sm-2:nth-child(6n+7){
      clear:left
    }
    .col-sm-1:nth-child(12n+13){
      clear:left
    }
  }
}
@media(min-width:@screen-md){
    .multi-columns-row{
      .col-sm-6:nth-child(2n+3){
        clear:none
      }
      .col-sm-4:nth-child(3n+4){
        clear:none
      }
      .col-sm-3:nth-child(4n+5){
        clear:none
      }
      .col-sm-2:nth-child(6n+7){
        clear:none
      }
      .col-sm-1:nth-child(12n+13){
        clear:none
      }
      .col-md-6:nth-child(2n+3){
        clear:left
      }
      .col-md-4:nth-child(3n+4){
        clear:left
      }
      .col-md-3:nth-child(4n+5){
        clear:left
      }
      .col-md-2:nth-child(6n+7){
        clear:left
      }
      .col-md-1:nth-child(12n+13){
        clear:left
      }
    }
}
@media(min-width:@screen-lg){
  .multi-columns-row{
    .col-md-6:nth-child(2n+3){
      clear:none
    }
    .col-md-4:nth-child(3n+4){
      clear:none
    }
    .col-md-3:nth-child(4n+5){
      clear:none
    }
    .col-md-2:nth-child(6n+7){
      clear:none
    }
    .col-md-1:nth-child(12n+13){
      clear:none
    }
    .col-lg-6:nth-child(2n+3){
      clear:left
    }
    .col-lg-4:nth-child(3n+4){
      clear:left
    }
    .col-lg-3:nth-child(4n+5){
      clear:left
    }
    .col-lg-2:nth-child(6n+7){
      clear:left
    }
    .col-lg-1:nth-child(12n+13){
      clear:left
    }   
  }
}

//GLOBAL
.headline{
  font-size: 24px;
  color: @mw-base-4;
  margin: 0 0 15px 0;
  font-weight: normal;
}
.heading-wrap{
  border-bottom: 1px solid #c0d9e2;
  margin-bottom: 60px;
  h1{
    margin: 0;
  }
}
.sub-headline{
  font-family: @mw-font-family-sub-headline;
  font-weight: @mw-font-weight-sub-headline;
  font-style: @mw-font-style-sub-headline;
  color: @mw-base-4;
  font-size: 24px;
  margin: 0 0 40px 0;
}
.caption{
  color: @mw-captions-color;
}
.btn,
.btn-default,
.btn-primary{
  .button-size(0.33em; 0.66em; 18px; 20px; 0);
  font-weight: 700;
  font-style: @mw-font-style-btn;
  border-top: 3px solid transparent;
  border-bottom: 3px solid @mw-button-border;
  min-width: 175px;
  border-radius: 7px;
  outline: 0;
  &:hover{
    border-top: 3px solid transparent;
  }
  &:active:focus,
  &.active,
  &:focus{
    border-top: 3px solid darken(@mw-button-border, 13%);
    border-bottom: 3px solid transparent;
    outline: 0;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
  }
}
.btn-v2{
  background-color: @mw-button-2-bg;
  border-top: 3px solid transparent;
  border-bottom: 3px solid @mw-button-2-border;
  border-right: 0;
  border-left: 0;
  &:hover{
    background-color: darken(@mw-button-2-bg, 9%);
    border-bottom: 3px solid darken(@mw-button-2-border, 13%);
  }
  &:active,
  &:active:focus,
  &:focus{
    background-color: darken(@mw-button-2-bg, 9%);
    border-top: 3px solid darken(@mw-button-2-border, 13%);
    border-bottom: 3px solid transparent;
    border-left: 0;
    outline: 0;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
  }
}
//for google map. This is used for #map-canvas
.google-map{
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
// location address and info
.location-list{
  font-size: 20px;
  color: @mw-base-2;
  padding-right: 15px;
}
//ajust over-wide icons
#single-loc-map ul>li i.fa-envelope,
#location-content .loc-info-wrap ul>li i.fa-envelope{
  font-size: 17px;
}
#footer i.fa-envelope{
  font-size: 13px;
}
//evening service icons
#practice-services .option-wrap i{
  width: 1.7em;
}

// used to center content vertically in row. Use on same div as row
@media(min-width: @screen-md-min){
    .vertical-align-md {
        display: flex;
        align-items: center;
    }
}

//padding container for sections
.padding-container(){
    padding: 40px 0;
}
#style-guide{
    .padding-container();
}

//Blog Helpers
.blog-img(){
    position: relative;
    img{
        max-width: 100%;
    }
    .date-fold{
        position: absolute;
        bottom: 0;
        right: 0;
        .date-wrap{
            position: relative;
            img{
                .square(184px);
            }
            .date{
                .text-center;
                position: absolute;
                top: 25%;
                right: 30%;
                color: #fff;
                p{
                    text-transform: uppercase;
                    margin: 0;
                    line-height: 1;
                    &.month{
                        font-size: 30px;
                    }
                    &.day{
                        font-size: 60px;
                    }
                }
            }
        }
    }
}
.post-info(){
    .title{
        padding-bottom: 10px;
        margin: 30px 0 15px 0;
        border-bottom: 1px solid @mw-base-2;
        a{
            color: @mw-base-4;
        }
    }
    .post-info{
        margin-bottom: 25px;
        .date{
            font-size: 18px;
            font-weight: 300;
            margin: 0;
            .margin-bottom-media-query(@screen-md-min);
        }
        .specs{
            margin: 0;
            @media(min-width: @screen-md-min){
                .pull-right;
            }
        }
    }
    .excerpt{
        margin-bottom: 25px;
    }
}

//Used on location detail and events and seminars
.professional-association(){
    .provider-img {
        position: relative;
        .size(165px, auto);
        .center-block();
        margin-bottom: 15px;
        .border-radius(50%);

        a {
            &:hover {
                &:before {
                    position: absolute;
                    content: "";
                    .square(165px);
                    .border-radius(50%);
                    background: #fff;
                    opacity: .5;
                }
            }
            img {
                .size(165px, auto);
                max-width: 100%;
            }
        }
    }
    .name {
        margin: 0;
        a {
            color: @mw-base-4;
        }
    }
    .title {
        font-weight: 300;
    }
}