// === Merriweather Custom Mixins
//

//homepage carousel mixin
.carousel-text-shadow (@string: 2px 2px 5px rgba(0, 0, 0, 0.5)) {
	text-shadow: @string;
}
//used for testimonials component
.mw-carousel-control(){
	position: absolute;
	background: @mw-testimonials-control-bg;
	text-align: center;
	border-radius: 50%;
	.size(65px, 65px);
	line-height: 68px;
	color: @mw-testimonials-control-text;
	font-size: 34px;
	.carousel-text-shadow;
}

//Mobile text-align center
.text-align-media-query(@screen-size){
	@media(max-width: @screen-size){
		text-align: center;
	}
}
//mobile margin top and bottom
.margin-bottom-media-query(@screen-size){
	@media(max-width: @screen-size){
		margin-bottom: 20px;
	}
}
.margin-top-media-query(@screen-size){
	@media(max-width: @screen-size){
		margin-top: 20px;
	}
}
.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}
.text-shadow (@x, @y, @blur, @alpha ) {
	text-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.bg-center-no-repeat() {
	background-repeat: no-repeat;
	background-position: center;
}