.practice-info-form{
    .form-group{
        label{
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
        }
        input{
            display: block;
        }
        textarea{
            display: block;
        }
        margin-bottom: 15px;
    }
}