#not-found-page{
.padding-container();
    .not-found-wrap{
        border-bottom: 1px solid @mw-base-2;
        padding-bottom: 45px;
        margin-bottom: 15px;
        .not-found-message{
            font-size: 18px;
            font-weight: 300;
        }
        .not-found-search{
            .navbar-form {
                float:none;
                .form-group{
                    width: 100%;
                    .form-control{
                        background-color: #ebebeb;
                        width: 100%;
                    }
                }
            }
        }
    }
    .back-home{
        font-size: 24px;
        font-weight: 300;
        a{
            color: @mw-base-4;
        }
    }
}