#blog-landing{
    .post{
        margin-bottom: 35px;
        .image{
            .blog-img();//Lives in Helpers
        }
        .content-wrap{
            .post-info();//Lives in Helpers
        }
    }
}