#blog-single{
    .img-wrap{
        .blog-img();//Lives in Helpers
    }
    .content-wrap{
        .post-info();//Lives in Helpers
        .content{
            padding-bottom: 65px;
            border-bottom: 1px solid @mw-base-2;
        }
        .share-title{
            font-size: 18px;
            font-weight: 300;
            margin-top: 15px;
            .text-align-media-query(@screen-md-min);
        }
        .share{
            margin-bottom: 40px;
            .text-align-media-query(@screen-md-min);
            a{
                padding: 10px 15px;
                font-size: 24px;
            }
            .addthis_button_facebook{
                color: @facebook-color;
                &:hover{
                    color: #fff;
                    background: @facebook-color;
                }
            }
            .addthis_button_twitter{
                color: @twitter-color;
                &:hover{
                    color: #fff;
                    background: @twitter-color;
                }
            }
            .addthis_button_google_plusone_share{
                color: @google-plus-color;
                &:hover{
                    color: #fff;
                    background: @google-plus-color;
                }
            }
            .addthis_button_email{
                color: #e6a238;
                &:hover{
                    color: #fff;
                    background-color: #e6a238;
                }
            }
        }
    }
    .related-posts{
        .related-heading{
            border-bottom: 1px solid @mw-base-2;
            padding-bottom: 15px;
            margin-bottom: 30px;
        }
        .related-img{
            margin-bottom: 15px;
            @media( max-width: @screen-lg-min){
                .size(225px, 125px);
                .center-block();
            }
            position: relative;
            a{
                &:hover{
                    &:before{
                        position: absolute;
                        content: "";
                        top: 0px;
                        .size(auto, 125px);
                        width: 100%;
                        z-index: 9;
                        background: #fff;
                        opacity: .5;
                    }
                }
                img{
                    max-width: 100%;
                    .size(auto, 125px);
                }
            }

        }
        .related-title{
            font-size: 18px;
            font-weight: 300;
            a{
                color: @mw-base-4;
            }
        }
    }
}