#cta{
    .padding-container();
    background: @mw-base-1;
    .text-align-media-query(@screen-md);
    h1{
        margin: 0 0 10px 0;
        color: @mw-contentcolor-2;
        a{
            color: @mw-contentcolor-2;
        }
    }
    p{
        font-size: 24px;
        color: @mw-contentcolor-2;
        font-weight: 300;
    }
    hr{
        margin-bottom: 30px;
    }
    .cta-btn{
        background: @mw-base-2;
        &:hover{
            background: darken(@mw-base-2, 10%);
        }
    }
}