#copyright{
    background: @mw-copyright-bar-bg;
    padding: 20px 0;
    ul{
        color: @mw-copyright-bar-text;
        margin: 0;
        >li{
            @media(max-width: @screen-sm-min) {
                margin-bottom: 20px;
            }
            >a{
                color: @mw-copyright-bar-link;
            }
        }
    }
}