.video-size(@width){
    max-width: 100%;
    .size(@width, auto);
    .center-block();
}
#e-patient-videos{
    padding: 30px 0;
    background: tint(@mw-base-1, 50%);
    .video-image{
        position: relative;
        .video-size(280px);
        .video-thumb{
            .video-size(280px);
            &:hover{
                cursor: pointer;
            }
        }
        .play-btn-icon{
            position: absolute;
            top: 27%;
            left: 40%;
            color: #fff;
            font-size: 75px;
            line-height: 0;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .title{
        margin: 15px 0 0 0;
    }
}