#events-and-seminar-single{
    .title{
        margin-bottom: 30px;
        h2{
            margin-bottom: 5px;
        }
        .date{
            font-size: 24px;
            font-weight: 100;
            color: @mw-base-4;
        }

    }
    .desc{
        margin-bottom: 45px;
    }
    .rsvp-form{
        .gform_heading{
            display: none;
        }
        p{
            font-size: 18px;
        }
    }
    .location{
        p{
            font-size: 18px;
            font-weight: 100;
            color: @mw-base-4;
        }
        .loc-map{
            height: 225px;
            .margin-top-media-query(@screen-md);
            margin-bottom: 30px;
            #map-canvas-0{
                .google-map; //in custom-helpers.less
                border: 2px solid #fff;
            }
        }
    }
    .presenters{
        h4{
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid @mw-base-2;
        }
        .professional-association(); //Lives in Custom helpers
    }
}