#events-and-seminars-landing{
    .post{
        margin-bottom: 45px;
        .image{
            .blog-img();
        }
        .content-wrap{
            .title{
                margin: 20px 0 15px 0;
                a{
                    color: @mw-base-4;
                }
            }
            .post-info{
                margin-bottom: 25px;
                font-size: 24px;
                font-weight: 100;
                .margin-bottom-media-query(@screen-md-min);
                color: @mw-base-4;
                p{
                    margin:0;
                }
            }
            .excerpt{
                margin-bottom: 25px;
            }
        }
    }
}