// Used for both images
.financing-img(){
    width: 325px;
    max-width: 100%;
    .center-block();
}
//Custom button colors
.custom-btn-color(@color){
    background: @color;
    border-color: darken(@color, 5%);
    &:hover{
        background: darken(@color, 5%);
        border-color: darken(@color, 10%);
    }
}
#financing-options{
    border-bottom: 1px solid @mw-base-2;
    .margin-bottom-media-query(@screen-md-min);
    .title{
        margin: 0 0 20px 0;
    }
    .sub-headline{
       margin-bottom: 30px;
    }
    .heading-block{
        margin-bottom: 60px;
        h2{
            margin: 0 0 20px 0;
        }
        .sub-headline{
            font-size: 18px
        }
    }
    .care-credit-container{
        margin-bottom: 60px;
        .text-align-media-query(@screen-md-min);
        .care-credit-img{
            .financing-img(); //lives at top
            .margin-bottom-media-query(@screen-md-min);
        }
        .desc{
            h4{
                margin: 0 0 15px 0;
            }
            .content{
                margin-bottom: 20px;
            }
            .learn-more {
                margin-bottom: 25px;
                > a {
                    color: #a4a4a4;
                }
            }
            .btn-default{
                .custom-btn-color(#006a5c);
            }
        }
    }
    .wells-fargo-container{
        margin-bottom: 60px;
        .text-align-media-query(@screen-md-min);
        .img-container{
            .margin-bottom-media-query(@screen-md-min);
            .wells-fargo-img{
                .financing-img(); //lives at top
                margin-bottom: 15px;
            }
            .image-desc{
                font-size: 12px;
            }
        }
        .desc {
            ul {
                margin-bottom: 25px;
                padding-left: 15px;
                @media(max-width: @screen-md-min)  {
                    list-style: none;
                }
                > li {
                    margin-bottom: 15px;
                }
            }
        }
        .btn-default{
            .custom-btn-color(#f7921e);
        }
    }
}