// mixin only used in footer (here)
.mobile-footer {
    .text-align-media-query(@screen-sm);
    .margin-bottom-media-query(@screen-sm);
    .margin-top-media-query(@screen-sm);
}

#footer{
    padding: 30px 0;
    background: @mw-footer-bg;
    hr{
        margin-top: 0;
    }
    h4, p{
        color: @mw-footer-text;
        a{
            color: @mw-footer-link;
        }
    }
    .footer-logo{
        width: 262px;
        max-width: 100%;
    }
    .contact-us{
        .text-align-media-query(@screen-sm);
        .loc-info{
            color: @mw-footer-text;
            h5{
                color: @mw-footer-text;
                margin: 0;
            }
            i{
                padding-right: 15px;
            }
            a{
                color: @mw-footer-link;
            }
        }
    }
    .social-media{
        .text-align-media-query(@screen-sm);
        >ul>li>a{
            font-size: 30px;
            color: @mw-footer-social-media;
            .fa-facebook:hover{
                color: @facebook-color;
            }
            .fa-twitter:hover{
                color: @twitter-color;
            }
            .fa-youtube:hover{
                color: @youtube-color;
            }
            .fa-google-plus:hover{
                color: @google-plus-color;
            }
            .fa-linkedin:hover{
                color: @linkedin-color;
            }
        }
    }
    .learn-more{
        &:extend(.mobile-footer);
        img {
            max-width: 165px;
            margin-bottom: 25px;
        }
        .cert-desc {
            margin-bottom: 25px;
            font-size: 12px;
        }
    }
}