.header-wrap{
    background: @mw-header-bg;
    .padding-container();
    .main-logo{
        .text-align-media-query(@screen-md);
        img {
            width: 295px;
            max-width: 100%;
        }
    }
    .member-info{
        .text-align-media-query(@screen-md-min);
        .phone-number{
            span{
                font-weight: 300;
            }
            a{
                color: @mw-headings-color;
            }
        }
    }
}
//Fix menu wrapping on sm screen
@media(max-width: @screen-md-min)  {
    .nav>li>a{
        padding: 10px 8px;
    }
}
.navbar-default {
    #header-collapse{
        @media(min-width: @screen-sm-min){
            padding: 0;
        }
    }
    .navbar-nav {
        @media (max-width: @screen-sm-min) {
            margin: 6px -7px;
        }
        > .open {
            @media (max-width: @screen-sm-min) {
                .dropdown-menu > li > a {
                    color: #fff;
                }
            }
            > a {
                color: @mw-navbar-text-color;
                &:hover,
                &:focus {
                    color: @mw-navbar-text-color;
                }
            }
        }
    }
}
.navbar{
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    .dropdown-menu{
        padding: 0;
        border: 0;
        >li>a{
            padding: 10px 20px;
            text-transform: @mw-dropdown-text-style;
            &:hover{
                background: @mw-dropdown-link-active-bg;
            }
        }
    }
    .navbar-form{
        border: 0;
        box-shadow: none;
        @media(min-width: @screen-sm-min)  {
            padding: 0;
        }
    }
    #menu-main-navigation{
        .open{
            background: @mw-navbar-link-hover-bg;
            a:hover{
                color: @mw-navbar-link-hover-color;
            }
        }
        .dropdown-menu{
            a:hover{
                background: @mw-navbar-bg;
            }
        }
    }
}