//specific mixins
.carousel-after() {
    content: " ";
    position: absolute;
    .size(100%, 3px);
    top: 23px;
    left: 0;
    right: 0;
}

.timeline-text() {
    color: @mw-base-4;
    position: absolute;
    top: 50px;
    right: -180%;
    width: 145px;
    @media (max-width: @screen-lg) {
        display: none;
    }
}
.timeline-dots() {
    position: relative;
    z-index: 99;
    margin: 3px 3.65%;
    text-indent: 0;
    .size(43px, 43px);
    @media (max-width: @screen-md) {
        margin: 0 2%;
    }
}
.inner-item-img(){
    .size(228px, auto);
    max-width: 100%;
    .margin-bottom-media-query(@screen-md);
}

.ctl-v2-position {
    top: 24%;
    @media (max-width: @screen-lg) {
        top: 15%;
    }
    @media (max-width: @screen-md) {
        top: 10%;
    }
    @media (max-width: @screen-sm) {
        top: 44%;
    }
}

#hearing-aid-carousel-v2 {
    .carousel-header-wrap {
        background: tint(@mw-base-1, 50%);
        padding-top: 60px;
        h1 {
            margin-top: 0;
        }
        .carousel-indicators {
            margin-bottom: 55px;
            li {
                background: @mw-hearing-aid-app-bg;
                border: 6px solid @mw-hearing-aid-app-bg;
                .timeline-dots;
                &.active {
                    background: @mw-timeline-border;
                }
                .hearing-aid-text {
                    .timeline-text;
                }
            }
            &:after {
                background-color: @mw-hearing-aid-app-bg;
                .carousel-after;
            }
        }
    }
    .inner-wrapper {
        background: tint(@mw-base-1, 50%);
        padding: 25px 0 60px 0;
        .contain-ctrl-arrow {
            position: relative;
            .item {
                @media (min-width: @screen-sm) {
                    padding: 0 65px;
                }
                img {
                    .inner-item-img();
                }
                h1{
                    a{
                        color: @mw-headings-color;
                    }
                }
            }
            .hearing-aid-desc {
                font-size: 18px;
                margin-bottom: 20px;
            }
            .control-prev {
                left: 0;
                .mw-carousel-control;
                .ctl-v2-position();
            }
            .control-next {
                right: 0;
                .mw-carousel-control;
                .ctl-v2-position();
            }
        }
    }
}