#single-hearing-aid-type {
    .hearing-aid-images {
        background: tint(@mw-base-2, 70%);
        padding: 30px 0;
        img {
            max-width: 260px;
            height: auto;
            .margin-bottom-media-query(@screen-md);
        }
    }
    .hearing-aid-content{
       padding: 60px 0;
        .hearing-aid-title{
            margin: 0 0 30px 0;
        }
    }
    .information-wrapper{
        .features-wrap{
            @media(min-width: @screen-md) {
                padding-right: 30px;
            }
            .ear-icon{
                max-width: 125px;
                height: auto;
                .margin-bottom-media-query(@screen-md-min);
            }
            .feature-icons {
                font-size: 50px;
                margin-bottom: 20px;
                border-bottom: 1px solid #000;
                color: @mw-feature-icons-color;
                .text-align-media-query(@screen-md);
                li {
                    padding: 0 3px;
                    @media (min-width: @screen-lg) {
                        padding: 0 10px;
                    }
                }
            }
            .feature-descriptions{
                ul,
                ol{
                    padding-left: 0;
                    list-style: none;
                    li{
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .content-wrap{
            h2{
                margin: 0 0 25px 0;
            }
            @media(min-width: @screen-md) {
                padding-left: 60px;
                border-left: 1px solid @mw-base-2;
            }
        }
    }
}
