#accessories-detail{
    .category-img{
        background: tint(@mw-base-2, 70%);
        padding: 30px 0;
        img{
            max-width: 100%;
            .size(400px, auto);
            .center-block();
        }
    }
    .accessories-content {
        padding-top: 60px;
        .heading-block {
            padding-bottom: 60px;
            h2 {
                margin: 0 0 30px 0;
            }
            .sub-headline {
                margin-bottom: 15px;
            }
        }
        .accessory-post {
            .margin-bottom-media-query(@screen-sm-min);
            border-top: 1px solid @mw-base-2;
            padding: 60px 0;
            .accessory-img {
                img {
                    .size(125px, auto);
                    max-width: 100%;
                    .center-block();
                    .margin-bottom-media-query(@screen-sm-min);
                }
            }
            .accessory-desc {
                .text-align-media-query(@screen-sm-min);
                h4 {
                    margin: 0 0 30px 0;
                }
            }
        }
    }
}