#accessories{
    .padding-container();
    .heading-wrap{
        padding-bottom: 60px;
        h2{
            margin-top: 0;
        }
        p{
            margin: 0;
        }
    }
    .accessory-wrap{
        .text-center();
        margin-bottom: 60px;
        .img-wrap{
            position: relative;
            img{
                .size(auto, 200px);
                max-width: 100%;
                .center-block();
            }
            &:hover {
                &:after {
                    position: absolute;
                    content: "";
                    top: 0px;
                    left: 10%;
                    .size(200px, 200px);
                    border-radius: 50%;
                    z-index: -9;
                    .hover-bg-hearing-aid-type();
                }
            }
        }
        .excerpt{
            h3{
                font-weight: 300;
                margin: 0 0 10px 0;
                min-height: 55px;
                a{
                    color: @mw-headings-color;
                }
            }
            .desc-excerpt{
                min-height: 130px;
            }
            p{
              margin-bottom: 25px;
            }
        }
    }
}