#insurance-page{
    h2 {
        margin: 0 0 30px 0;
    }
    .insurance-content {
        margin-bottom: 60px;
        .main-img {
            max-width: 100%;
            margin-bottom: 60px;
        }
    }
}