#lifestyle-detail{
    #lifestyle-img{
        margin-bottom: 30px;
        position: relative;
        &:hover{
            cursor: pointer;
        }
        img{
            .img-responsive();
        }
        .watch-button{
            position: absolute;
            bottom: 0;
            width: 100%;
            .text-center();
            h1{
                margin: 0 0 30px 0;
                color: #fff;
            }
        }
    }
    .content{
        border-bottom: 1px solid @mw-base-2;
        padding-bottom: 60px;
        margin-bottom: 15px;
        .sub-headline{
            margin-bottom: 25px;
        }
    }
    .post-links{
        font-size: 24px;
        font-weight: 300;
        p{
            @media(max-width: @screen-sm-min){
                float: none !important;
            }
            .text-align-media-query(@screen-sm-min);
            a{
                color: @mw-text-color;
            }
        }
    }
}