#lifestyle-landing{
    padding: 60px 0;
    #lifestyles-video-img{
        position: relative;
        margin-bottom: 30px;
        &:hover{
            cursor: pointer;
        }
        img{
            .size(100%, auto);
            max-width: 100%;
        }
        .watch-button{
            position: absolute;
            bottom: 0;
            width: 100%;
            .text-center();
            h1{
                margin: 0 0 30px 0;
                color: #fff;
            }
        }
    }
    .page-info{
        .text-center();
        border-bottom: 1px solid @mw-base-2;
        padding-bottom: 60px;
        margin-bottom: 60px;
        .page-description{
            margin: 0;
        }
    }
    .lifestyle{
        .margin-bottom-media-query(@screen-lg-min);
        .lifestyle-img{
            margin-bottom: 30px;
            position: relative;
            width: 260px;
            .center-block();
            a{
                img {
                    .size(260px, auto);
                    max-width: 100%;
                }
                &:hover {
                    &:before {
                        position: absolute;
                        content: "";
                        top: 0px;
                        .size(260px, 100%);
                        background-color: rgba(255, 255, 255, 0.5)
                    }
                }
            }
        }
        .content{
            .text-center();
            margin-bottom: 50px;
            h3{
                border-bottom: 1px solid @mw-base-2;
                padding-bottom: 10px;
                a{
                    color: @mw-headings-color;
                }
            }
            ul,
            ol{
                list-style: none;
                padding: 0;
                min-height: 235px;
                >li{
                    margin-bottom: 15px;
                }
            }
        }
    }
}