#location-detail{
    padding: 15px 0;
    .loc-map{
        height: 350px;
        margin-bottom: 60px;
        #map-canvas-0{
            .google-map; //in custom-helpers.less
        }
    }
    .details-section {
        padding-bottom: 60px;
        .location-info {
            margin-bottom: 60px;
            .loc-info {
                font-size: 18px;
                margin: 0;
                > li {
                    margin-bottom: 20px;
                    a {
                        color: @mw-text-color;
                    }
                    i {
                        color: @mw-base-2;
                        padding-right: 15px;
                    }
                    time {
                        padding-left: 35px;
                    }
                }
            }
            .review-title {
                font-size: 20px;
                margin-bottom: 15px;
            }
            .review-links {
                .fa-facebook {
                    background: @facebook-color;
                }
                .fa-google-plus {
                    background: @google-plus-color;
                }
                .fa-yelp {
                    background: @yelp-color;
                }
                a {
                    i {
                        font-size: 24px;
                        padding: 10px 15px;
                        color: #fff;
                    }
                }
            }
        }
        .about-loc {
            margin-bottom: 60px;
        }
        .professionals {
            h2 {
                margin: 0 0 25px 0;
            }
            .professional-association(); //Lives in Custom helpers
        }
    }
    .awards{
        padding: 60px 0;
        .text-center();
        border-top: 1px solid @mw-base-1;
        .award-img{
            .size(auto, 115px);
            .margin-bottom-media-query(@screen-md-min);
        }
    }
}