#multi-loc-4{
    .padding-container();
    background: @mw-base-3;
    h1{
        padding-bottom: 30px;
        margin-bottom: 60px;
        border-bottom: 1px solid @mw-base-2;
    }
    .loc-info {
        .text-align-media-query(@screen-md);
        .loc-title{
            margin-bottom: 30px;
            h3 {
                margin: 0;
                a{
                    color: @mw-headings-color;
                }
            }
            p{
                font-size: 18px;
                font-weight: 300;
                margin: 0;
            }
        }
        ul{
            font-size: 14px;
            li{
                padding-bottom: 15px;
                a{
                    color: #000;
                }
                time{
                    margin-left: 30px;
                }
            }
            i{
                color: @mw-base-2;
                padding-right: 15px;
            }
        }
    }
}