#location-map{
    .padding-container();
    background: @mw-base-3;
    h1{
        padding-bottom: 30px;
        margin-bottom: 60px;
        border-bottom: 1px solid @mw-base-2;
    }
    .loc-map{
        height: 500px;
        margin-bottom: 60px;
        position: relative;
        #map-canvas-loc{
            .google-map; //in custom-helpers.less

        }
        .location-info-tabs {
            @media (min-width: @screen-sm-min) {
                position: absolute;
                top: 30px;
                right: 30px;
                width: 255px;
            }
            width: 100%;
            float: left;
            margin: 25px 0;
            .loc-menu {
                margin: 20px 0;
                .dropdown {
                    width: 100%;
                    &.open {
                        border: 0;
                        .select {
                            background: tint(@mw-base-1, 25%);
                        }
                    }
                    #loc-dropdown {
                        margin: 0;
                        border: 0;
                        border-radius: 0;
                    }
                    .select {
                        background: tint(@mw-base-1, 70%);
                        box-shadow: 2px 2px 5px #888888;
                        border-bottom: 1px solid tint(@mw-base-1, 45%);
                        margin-bottom: 3px;
                        padding: 10px 15px;
                        color: @mw-text-color;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    ul {
                        width: 100%;
                        padding: 0;
                        margin-top: 0;
                        border: 0;
                        box-shadow: 2px 2px 5px #888888;
                        > li {
                            > a {
                                width: 100%;
                                padding: 10px 15px;
                                color: @mw-text-color;
                                &:hover {
                                    background: tint(@mw-base-1, 50%);
                                }
                            }
                            &.active {
                                >a{
                                    background: tint(@mw-base-1, 50%);
                                }
                            }
                        }
                    }
                }
            }
            .loc-info {
                padding: 15px;
                background: #fff;
                box-shadow: 2px 2px 5px #888888;
                .loc-title {
                    margin-bottom: 25px;
                    h3 {
                        margin: 0;
                        a {
                            color: @mw-headings-color;
                        }
                    }
                    p {
                        font-size: 18px;
                        font-weight: 300;
                        margin: 0;
                    }
                }
                ul {
                    font-size: 14px;
                    li {
                        padding-bottom: 15px;
                        a {
                            color: #000;
                        }
                        time {
                            margin-left: 30px;
                        }
                    }
                    i {
                        color: @mw-base-2;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}