#multi-loc{
    .padding-container();
    background: #ebebeb;
    h1{
        padding-bottom: 30px;
        margin-bottom: 60px;
        border-bottom: 1px solid @mw-base-2;
    }
    .single-loc {
        height: 247px;
        .margin-top-media-query(@screen-md);
        margin-bottom: 30px;
        #map-canvas-0,
        #map-canvas-1{
            .google-map; //in custom-helpers.less
            border: 2px solid #fff;
        }
    }
    .loc-info {
        .text-align-media-query(@screen-md);
        .loc-title{
            margin-bottom: 30px;
            h3 {
                margin: 0;
                a{
                    color: @mw-headings-color;
                }
            }
            p{
                font-size: 20px;
            }
        }
        ul{
            font-size: 20px;
            li{
                padding-bottom: 15px;
                a{
                    color: #000;
                }
                time{
                    margin-left: 37px;
                }
            }
            i{
                color: @mw-base-2;
                padding-right: 15px;
            }
        }
    }
}