#our-practice {
    .padding-container();
    padding-bottom: 0;
    .mission-statment{
        h2{
            margin: 0 0 15px 0;
        }
    }
    .about-us-content{
        h2{
            margin:0 0 15px 0;
        }
    }
    #specializes-accordion{
        margin-bottom: 0;
    }
}