.main-section-content {
    .padding-container();
    .type-wrap {
        margin-bottom: 60px;
        .featured-img-wrap {
            position: relative;
            .square(225px);
            .center-block();
            margin-bottom: 10px;
            a{
                img {
                    max-width: 100%;
                    .square(225px);
                }
                &:hover {
                    &:before {
                        position: absolute;
                        content: "";
                        top: 0px;
                        .square(225px);
                        border-radius: 50%;
                        z-index: 9;
                        background: #fff;
                        opacity: .5;
                    }
                }
            }
        }
        .excerpt {
            h3 {
                margin: 0;
            }
            .desc-excerpt{
                min-height: 225px;
                @media(max-width: @screen-md-min){
                    min-height: 25px;
                }
            }
            p {
                margin-bottom: 15px;
            }
            a {
                color: @mw-headings-color;
            }
        }
    }
}