.default-main-header-bg-image(@min-height, @bg-position-sm, @bg-position){
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-width: @screen-sm-min){
        min-height: 450px;
        background-position: @bg-position-sm;
    }
    background-position: @bg-position;
    min-height: @min-height;
}
.main-header-image{
    #signs-of-hearing-loss{
        .img-retina('@{bg-header-img-url}signs-of-hearing-loss.jpg', '@{bg-header-img-url}signs-of-hearing-loss@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 36%, 35% 0);
    }
    #facts-about-hearing-loss{
        .img-retina('@{bg-header-img-url}facts-about-hearing-loss.jpg', '@{bg-header-img-url}facts-about-hearing-loss@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 17%, 35% 0);
    }
    #communication-tips{
        .img-retina('@{bg-header-img-url}communication-tips.jpg', '@{bg-header-img-url}communication-tips@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 38%, 35% 0);
    }
    #what-is-an-audiologist{
        .img-retina('@{bg-header-img-url}what-is-an-audiologist.jpg', '@{bg-header-img-url}what-is-an-audiologist@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 20%, 35% 0);
    }
    #binaural-hearing{
        .img-retina('@{bg-header-img-url}binaural-hearing.jpg', '@{bg-header-img-url}binaural-hearing@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 0, 35% 0);
    }
    #tinnitus-treatment{
        .img-retina('@{bg-header-img-url}tinnitus-treatment.jpg', '@{bg-header-img-url}tinnitus-treatment@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 20%, 35% 0);
    }
    #hearing-tests{
        .img-retina('@{bg-header-img-url}hearing-tests.jpg', '@{bg-header-img-url}hearing-tests@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 50%, 35% 0);
    }
    #balance-treatment{
        .img-retina('@{bg-header-img-url}balance-treatment.jpg', '@{bg-header-img-url}balance-treatment@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 60%, 35% 0);
    }
    #pediatric-hearing-treatment{
        .img-retina('@{bg-header-img-url}pediatric-hearing-treatment.jpg', '@{bg-header-img-url}pediatric-hearing-treatment@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 41%, 35% 0);
    }
    #hearing-protection{
        .img-retina('@{bg-header-img-url}hearing-protection.jpg', '@{bg-header-img-url}hearing-protection@2x.jpg', 100%, auto);
        .default-main-header-bg-image(300px, 0 80%, 35% 0);
    }
}
#generic-page{
    .padding-container();
    .page-content{
        .margin-bottom-media-query(@screen-md-min);
        ul{
            padding-left: 15px;
            >li{
                margin-bottom: 15px;
            }
        }
    }
}
