#patient-forms{
    .margin-bottom-media-query(@screen-md);
    .desc{
        margin-bottom: 60px;
    }
    .form-wrap{
        .margin-bottom-media-query(@screen-md);
        background: #d0e2e9;
        padding: 30px 13px;
        .border-radius(5px);
        border-bottom: 2px solid darken(#d0e2e9, 5%);
        .text-align-media-query(@screen-md);
        i{
            font-size: 50px;
            line-height: 1.35em;
            color: @mw-base-1;
        }
        .form-title a{
            color: @text-color;
        }
    }
}