//mixin for this specificlly
.icon-hover-color(){
    .fa {
        color: @mw-top-social-media-icons;
    }
}


#professional-details{
    .padding-container();
    .pro-details {
        .margin-bottom-media-query(@screen-md);
        .professional-img {
            margin-bottom: 15px;
            > img {
                .size(225px, auto);
                max-width: 100%;
                .center-block();
            }
        }
        .professional-social {
            width: 360px;
            max-width: 100%;
            .border-radius(5px);
            margin-bottom: 30px;
            .center-block();
            .social-icons {
                margin: 0;
                line-height: 0;
                font-size: 30px;
                >li {
                    padding: 0;
                    a{
                        &:hover{
                            .border-radius(5px);
                        }
                    }
                    &:last-child a{
                        padding-left: 31px;
                        @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){
                            padding-left: 34px;
                        }
                        &:hover{
                            .border-right-radius(5px);
                        }
                    }
                    >a{
                        padding: 11px 29px;
                        @media(min-width: @screen-md-min) and (max-width: @screen-lg-min){
                            padding: 11px 19px;
                        }
                        .fa-facebook {
                            color: @facebook-color;
                        }
                        .fa-twitter {
                            color: @twitter-color;
                        }
                        .fa-linkedin {
                            color: @linkedin-color;
                        }
                        .fa-envelope {
                            color: #e6a238;
                        }
                        &.addthis_button_facebook_follow:hover {
                            background: @facebook-color;
                            .icon-hover-color();
                        }
                        &.addthis_button_twitter_follow:hover {
                            background: @twitter-color;
                            .icon-hover-color();
                        }
                        &.addthis_button_linkedin_follow:hover {
                            background: @linkedin-color;
                            .icon-hover-color();
                        }
                        &.email:hover{
                            background: #e6a238;
                            .icon-hover-color();
                        }
                    }
                }
            }
        }
        .phone-number {
            margin-bottom: 25px;
            h2 {
                margin: 0;
                a{
                    color: @text-color;
                }
            }
        }
    }
    .bio-wrap{
        margin-bottom: 60px;
        .text-align-media-query(@screen-md);
        .title{
            margin-bottom: 25px;
            h2 {
                margin: 0;
            }
            h3 {
                margin: 0;
            }
        }
    }
    .awards-certs{
        h2{
            margin: 0 0 15px 0;
        }
        ul,ol{
            padding-left: 15px;
            >li{
                margin-bottom: 15px;
            }
        }
    }
}