#provider-landing-block{
    .provider-wrapper {
        margin-bottom: 60px;
        .provider-img {
            margin-bottom: 15px;
            max-width: 100%;
            .size(228px, 228px);
        }
        h3 {
            margin: 0;
            a {
                color: #464646;
            }
        }
        .title {
            margin-bottom: 15px;
            color: #464646;
        }
        .bio-excerpt {
            margin-bottom: 30px;
            color: #464646;
        }
    }
}
