#practice-services{
    .padding-container();
    .option-wrap{
        .margin-bottom-media-query(@screen-lg);
        h4{
            color: @mw-base-1;
            margin: 0 0 30px 0;
            a{
                color: @mw-base-1;
            }
        }
        .icon {
            .active-icon {
                .mw-stack {
                    font-size: 110px;
                    margin-bottom: 15px;
                    .mw-circle {
                        width: 100%;
                        color: #fff;
                    }
                    .mw-color-flop {
                        color: @mw-base-2;
                        width: 100%;
                    }
                    &:hover {
                        .mw-circle {
                            color: @mw-base-2;
                        }
                        .mw-color-flop {
                            color: #fff;
                        }
                    }
                    &:focus,
                    &:active {
                        .mw-color-flop {
                            color: tint(@mw-base-2, 50%);
                        }
                    }
                }
            }
        }
        .excerpt{
            margin: 0;
        }
    }
}