#quick-nav-interior{
    background: #e0ecf0;
    .padding-container();
    .qn-wrap{
        .margin-bottom-media-query(@screen-lg);
        .active-icon {
            .mw-stack {
                font-size: 110px;
                margin-bottom: 30px;
                .mw-circle {
                    color: #fff;
                }
                .mw-color-flop {
                    color: @mw-base-2;
                }
                &:hover {
                    .mw-circle {
                        color: @mw-base-2;
                    }
                    .mw-color-flop {
                        color: #fff;
                    }
                }
                &:focus,
                &:active {
                    .mw-color-flop {
                        color: tint(@mw-base-2, 50%);
                    }
                }
            }
        }
    }
}