#request-appointment{
    padding: 30px 0;
    .loc-map{
        height: 500px;
        margin-bottom: 60px;
        position: relative;
        #map-canvas-ra{
            .google-map; //in custom-helpers.less
            .map-popup{
                img{
                    margin-right: 15px;
                    max-width: 110px;
                }
                .content{
                    height: 110px;
                    overflow-y: scroll;
                    i{
                        color: @link-color;
                        padding-right: 5px;
                    }
                    ul{
                        >li{
                            span{
                                padding-left: 20px;
                            }
                            a{
                                color: @mw-text-color;
                            }
                        }
                    }
                }
            }
        }
        .loc-menu{
            @media(min-width: @screen-sm-min){
                position: absolute;
                top: 30px;
                right: 30px;
                width: 235px;
            }
            width: 100%;
            float: left;
            margin: 25px 0;
            ul>li{
                background: tint(@mw-base-1, 70%);
                box-shadow: 2px 2px 5px #888888;
                border-bottom: 1px solid tint(@mw-base-1, 45%);
                margin-bottom: 3px;
                &.active,
                &:hover{
                    >a{
                        background: tint(@mw-base-1, 50%);
                    }
                }
                >a{
                    padding: 10px 15px;
                    color: @mw-text-color;
                }
            }
        }
        .ra-message{
            font-size: 18px;
        }
    }
    // Custom Request Appointment Form
    #gform_3 {
        .gform_body {
            .make-row();
            margin-bottom: 30px;
            #field_3_1{
                .make-xs-column(12);
                #input_3_1{
                    .make-xs-column(12);
                    .make-sm-column(6);
                }
            }
            #field_3_2{
                .make-xs-column(12);
                .make-sm-column(6);
            }
            #field_3_10{
                .make-xs-column(12);
            }
            #field_3_3{
                .make-xs-column(12);
                .make-sm-column(6);
            }
            #field_3_4,
            #field_3_8{
                .make-xs-column(12);
                .make-sm-column(4);
            }
            #field_3_9{
                .make-xs-column(12);
                .make-sm-column(4);
            }
            #field_3_7{
                .make-xs-column(12);
            }
            .gform_footer{
                .make-row();
                .gform_submit_button_3{
                    .make-xs-column(12);
                }
            }
        }
    }
}