.icon-spacing(@bg-color){
    background: @bg-color;
    padding: 10px 0;
    height: 42px;
    @media(min-width: @screen-md) {
        margin-right: 2px;
    }
}
.padding-0{
    padding: 0 !important;
}
#review-us{
    .desc{
        margin-bottom: 60px;
    }
    #review-tabs{
        margin-bottom: 60px;
        ul>li{
            background: tint(@mw-base-1, 70%);
            margin-bottom: 3px;
            border-bottom: 2px solid tint(@mw-base-1, 65%);
            &.active,
            &:hover{
                >a{
                    background: tint(@mw-base-1, 50%);
                }
            }
            >a{
                padding: 10px 15px;
                color: @mw-text-color;
            }
        }
        .tab-pane{
            .instructions{
                margin: 10px 0 30px 0;
            }
            i{
                font-size: 24px;
                color: #fff;
            }
            .review-btn{
                .margin-bottom-media-query(@screen-md);
                .icon-wrap-google{
                    .icon-spacing(@google-plus-color);
                }
                .icon-wrap-facebook{
                    .icon-spacing(@facebook-color);
                }
                .icon-wrap-yelp{
                    .icon-spacing(@yelp-color);
                }
                .review-text{
                    padding: 6px;
                    height: 42px;
                    background: #ebebeb;
                    border-bottom: 2px solid darken(#ebebeb, 10%);
                    font-size: 12px;
                    p{
                        margin: 0;
                        @media(max-width: @screen-lg){
                            font-size: 11px;
                        }
                        a{
                            color: @text-color;
                        }
                    }
                }
            }
        }
    }
    .instructional-videos{
        .video-img{
            position: relative;
            width: 260px;
            .center-block();
            &:hover{
                cursor: pointer;
            }
            img{
                max-width: 100%;
            }
            .play-button-icon{
                position: absolute;
                top: 50%;
                left: 40%;
                i{
                    font-size: 80px;
                    line-height: 0;
                    color: #fff;
                }
            }
        }
    }
}
