// Custom Mixin used below
.sidebar-box(@bg-color){
    background: @bg-color;
    padding: 15px;
    .border-radius(10px);
    margin-bottom: 10px;
    border-bottom: 2px solid darken(@bg-color, 5%);
    h4{
        margin-bottom: 15px;
        >a{
            color: @mw-headings-color;
        }
    }
}
#side-bar{
    .loc-info{
        .sidebar-box(tint(@mw-base-2, 70%));
        .single-loc{
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid @mw-base-2;
            &:last-of-type{
                border: none;
            }
            p{
                &.email{
                    margin: 0;
                }
                >a{
                    color: @mw-text-color;
                }
            }
        }
    }
    .loc-hours{
        .sidebar-box(tint(@mw-base-2, 85%));
        h5{
            margin-bottom: 0;
        }
        .email >a{
            color: @mw-text-color;
        }
    }
    .follow-us{
        .border-radius(10px);
        margin-bottom: 10px;
        max-width: 263px;
        .title-wrap{
            padding: 15px;
            background: tint(@mw-base-2, 85%);
            .border-top-radius(10px);
            h4{
                margin: 0;
            }
        }
        .social-wrap{
            background: tint(@mw-base-2, 70%);
            border-bottom: 2px solid tint(@mw-base-2, 65%);
            .border-bottom-radius(10px);
            .social-icons {
                font-size: 24px;
                margin: 0;
                line-height: 0;
                >li{
                    padding: 0;
                    &:first-child >a{
                        border-bottom-left-radius: 10px;
                        padding-left: 19px;
                    }
                    &:last-child >a{
                        border-bottom-right-radius: 10px;
                    }
                    > a {
                        padding: 11px 13px;
                        .fa-facebook{
                            color: @facebook-color;
                        }
                        .fa-twitter{
                            color: @twitter-color;
                        }
                        .fa-youtube{
                            color: @youtube-color;
                        }
                        .fa-google-plus{
                            color: @google-plus-color;
                        }
                        .fa-linkedin{
                            color: @linkedin-color;
                        }
                        &.addthis_button_facebook_follow:hover {
                            background: @facebook-color;
                            .fa-facebook{
                                color: @mw-top-social-media-icons;
                            }
                        }
                        &.addthis_button_twitter_follow:hover {
                            background: @twitter-color;
                            .fa-twitter{
                                color: @mw-top-social-media-icons;
                            }
                        }
                        &.addthis_button_youtube_follow:hover {
                            background: @youtube-color;
                            .fa-youtube{
                                color: @mw-top-social-media-icons;
                            }
                        }
                        &.addthis_button_google_follow:hover {
                            background: @google-plus-color;
                            .fa-google-plus{
                                color: @mw-top-social-media-icons;
                            }
                        }
                        &.addthis_button_linkedin_follow:hover {
                            background: @linkedin-color;
                            .fa-linkedin{
                                color: @mw-top-social-media-icons;
                            }
                        }
                    }
                }
            }
        }
    }
    .form-wrap{
        .sidebar-box(tint(@mw-base-2, 85%));
        .gfield{
            label{
                display: none;
            }
        }
    }
    .recent-posts{
        .sidebar-box(tint(@mw-base-2, 85%));
        .post {
            padding: 15px 0;
            border-bottom: 1px solid @mw-base-2;
            &:last-of-type{
                border: none;
            }
            img{
                max-width: 100%;
                .margin-bottom-media-query(@screen-md-min);
            }
            h5{
                margin: 0 0 10px 0;
                a{
                    color: @mw-base-4;
                }
            }
            p{
                color: @mw-base-4;
                i{
                    color: @mw-base-2;
                }
            }
        }
    }
    //Archive and Categories
    .blog-archive-cats{
        .title{
            background: tint(@mw-base-2, 85%);
            padding: 15px 15px 10px 15px;
            .border-top-radius(10px);
            h4{
                margin: 0;
            }
        }
        .list{
            background: tint(@mw-base-2, 85%);
            padding: 0 0 10px 0px;
            .border-bottom-radius(10px);
            margin-bottom: 10px;
            border-bottom: 2px solid darken(tint(@mw-base-2, 85%), 5%);
            ul{
                color: @mw-base-4;
                margin: 0;
                li{
                    padding: 5px 15px;
                    &.current-cat{
                        background: tint(@mw-base-2, 70%);
                    }
                    &:hover{
                        background: tint(@mw-base-2, 70%);
                    }
                    a{
                        color: @mw-base-4;
                    }
                }
            }
        }
    }
    .tag-cloud{
        .sidebar-box(tint(@mw-base-2, 85%));
        a{
            border: 1px solid @mw-base-4;
            padding: 5px;
            border-radius: 5px;
            color:  @mw-base-4;
            line-height: 34px;
            &:hover{
                background: @mw-base-4;
                color: tint(@mw-base-2, 85%);
                text-decoration: none;
            }
        }
    }
}