#main-img-slider{
    .carousel-control {
        .fa-angle-left,
        .fa-angle-right {
            position: absolute;
            top: 45%;
            z-index: 5;
            display: inline-block;
            font-size: 50px;
        }
    }
    .item{
        img{
            .center-block();
        }
        .carousel-caption{
            left: 35%;
            right: 0;
            bottom: 0;
            h1{
                color: #fff;
                margin: 0 0 5px 0;
                text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.75);
            }
            .slide-sub-headline{
                font-size: 24px;
                font-weight: 100;
                text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.75);
            }
            .ra-btn a{
                box-shadow: 1px 1px 0.5px 0px rgba(0, 0, 0, 0.75);
            }
        }
    }
}