#testimonial-page {
    .margin-bottom-media-query(@screen-md);
    .heading-wrap {
        margin-bottom: 0;
        .testimonial-sub-headline {
            margin-bottom: 40px;
        }
    }
    .testimonial-wrap {
        padding: 45px 0;
        border-bottom: 1px solid #c0d9e2;
        .text-align-media-query(@screen-md);
        .presenter-info {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 25px;
        }
        img {
            max-width: 165px;
            .margin-bottom-media-query(@screen-md);
        }
    }
}