#testimonials-v2{
    .padding-container();
    background: @mw-testimonials-bg;
    @media(max-width: @screen-xs) {
        h1 {
            font-size: 30px;
        }
    }
    #testimonial-v2-carousel{
        .item{
            @media(min-width: @screen-xxs){
                padding: 0 70px;
            }
            .text-align-media-query(@screen-md);
            img{
                .size(160px, auto);
                max-width: 100%;
                border: 3px solid @mw-base-2;
                .margin-bottom-media-query(@screen-md)
            }
            h4{
                color: @mw-text-color;
                span {
                    font-weight: 300;
                }
            }
            p{
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
        .control-prev{
            left: 0;
            top: 30%;
            .mw-carousel-control;
            @media(max-width: @screen-xs){
                display: none
            }
        }
        .control-next{
            right: 0;
            top: 30%;
            .mw-carousel-control;
            @media(max-width: @screen-xs){
                display: none
            }
        }
    }
}