#thank-you{
    padding: 60px;
    .message{
        border-bottom: 1px solid @mw-base-1;
    }
    .social-media{
        padding-top: 60px;
        ul{

            >li{
                .margin-bottom-media-query(@screen-md-max);
                span{
                    background: #ebebeb;
                    padding: 14px 25px 6px 25px;
                    margin-right: 2px;
                    color: @text-color;
                    font-size: 18px;
                }
                i{
                    padding: 19px;
                    line-height: 0;
                    font-size: 24px;
                    &.fa-facebook{
                        color: @facebook-color;
                        background: #d8deea;
                    }
                    &.fa-twitter{
                        color: @twitter-color;
                        background: #ddeefc;
                    }
                    &.fa-youtube{
                        color: @youtube-color;
                        background: #f5d2d2;
                    }
                    &.fa-google-plus{
                        color: #fff;
                        background: @google-plus-color;
                    }
                    &.fa-linkedin{
                        color: @linkedin-color;
                        background: #cce5f0;
                    }

                }
            }
        }
    }
}