#top-bar{
    background: @mw-top-bar-bg;
    .audigy-cert-logo{
        padding: 10px;
        display: inline-block;
        @media (max-width: @screen-sm) {
            .center-block();
        }
        @media (min-width: @screen-sm) {
            &:hover {
                background: @mw-base-2;
            }
        }
        img{
            width: 116px;
            max-width: 116px;
            @media (max-width: @screen-sm) {
                .center-block();
            }
        }
    }
    .social-icons{
        font-size: 24px;
        margin: 0;
        line-height: 0;
        .text-align-media-query(@screen-sm);
        >li{
            padding: 0;
            >a{
                padding: 11px 15px;
                color: @mw-top-social-media-icons;
                &.addthis_button_facebook_follow:hover{
                    background: @facebook-color;
                }
                &.addthis_button_twitter_follow:hover{
                    background: @twitter-color;
                }
                &.addthis_button_youtube_follow:hover{
                    background: @youtube-color;
                }
                &.addthis_button_google_follow:hover{
                    background: @google-plus-color;
                }
                &.addthis_button_linkedin_follow:hover{
                    background: @linkedin-color;
                }
            }
        }
    }
}