#welcome-provider{
    .padding-container();
    img{
        .square(265px);
        max-width: 100%;
        margin-bottom: 15px;
    }
    .name{
        margin: 0;
    }
    .welcome-text{
        .text-align-media-query(@screen-md);
        h1{
            margin: 0 0 30px 0;
        }
    }
}