#icon-style-guide{
    i{
        font-size: 75px;
    }
    .icon-wrapper{
        position: relative;
        margin-bottom: 20px;
        code{
            position: absolute;
            top: 25px;
            left: 100px;
        }
    }

}